.nav_container {
  position: relative;
  padding-right: 0;
  bottom: 0;
  right: 0;
}

.nav_item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_item__text {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--foreground);
}

.active .nav_item__text {
  color: rgb(0, 132, 255);
  font-weight: bolder;
}
