.skeletonContainer {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.skeletonHeader {
  margin-bottom: 24px;
}

.skeletonDetails {
  margin-bottom: 24px;
}

.skeletonReview {
  padding-top: 16px;
  border-top: 1px solid #eaeaea;
}
