.bookInfoViewer {
  padding: 2rem;
  border-radius: 0.1rem;
}

.bookTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.bookAuthor {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

.bookReview {
  font-size: 1.2rem;
  color: #333;
}

@media screen and (max-width: 740px) {
  .bookInfoViewer {
    padding: 1rem;
  }

  .bookTitle {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  .bookAuthor {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .bookReview {
    font-size: 1rem;
  }
}
