.bookInfoViewer {
  padding: 2rem;
  border-radius: 0.1rem;
}

.bookTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.bookAuthor {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

.bookReview {
  font-size: 1.2rem;
  color: #333;
}
