.bookCard {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  padding: 0.4rem 0.7rem;
  background-color: #fff;
  align-content: space-around;
  justify-content: space-between;
  align-items: end;
  transition: box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.bookCard:hover {
  box-shadow: 0 0 0.5rem 0.1rem #e5e5e5;
  color: rgb(0, 132, 255);
}

.bookCard_title {
  font-size: 1rem;
}

.bookCard_author {
  font-size: 1rem;
}

.bookCard_status {
  font-size: 1rem;
}

.bookCard_dateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardItem {
  list-style: none;
}

.bookHeader > * {
  font-weight: bold;
}

.bookHeader_items {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  padding: 0.4rem 0.7rem;
  background-color: #fff;
  align-content: space-around;
  justify-content: space-between;
  align-items: end;
  font-size: 1.2rem;
}
