.bookCard {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.bookCard:hover {
  box-shadow: var(--mantine-shadow-md);
  transform: translateY(-0.1rem);
}

.bookInfo_header {
  margin-bottom: 0.3rem;
  display: grid;
  align-items: flex-end;
}

.book_title {
  transition: all 0.7s ease;
}

.book_title:hover {
  cursor: pointer;
  opacity: 0.7;
  text-underline-offset: 0.2rem;
}

.secondaryInfo {
  display: flex;
  align-items: center;
}

.dueDate_text {
  padding-left: 0.5rem;
  font-size: var(--mantine-font-size-md);
}

.bookCard_status {
  color: var(--mantine-color-gray-7);
  margin-bottom: 0.3rem;
}

.bookInfo_base {
  display: flex;
  flex-direction: column;
}

.menu_ellipsis {
  position: absolute;
  right: 1rem;
  color: #222;
}
