.garalley {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.6rem;
  padding: 2rem 0rem;
  align-items: stretch; /* 高さを統一 */
}

@media (max-width: 1024px) {
  .garalley {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .garalley {
    grid-template-columns: repeat(1, 1fr);
  }
}
